.App{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Jamsil{
  font-family: 'TheJamsil5Bold';
}

.Lobster{
  font-family: 'Lobster';
  font-weight: 100;
}
.Bebas{
  font-family : 'Bebas Neue', cursive;
}

.contents_inner{
  width: 81%;
  height: 100%;


  animation-name: contents_inner_appear;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes contents_inner_appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.pageNameSection{
  width: 100%;
  margin-top: 20px;
}
.pageName{
  font-size: 72px;
  font-family: 'TmoneyRoundWindExtraBold';
  font-weight: 900;
  letter-spacing: -3px;
  text-align: center;
  position: relative;
}
  .pageName::before{
    position: absolute;
    content: "";
    width: 200px;
    height: 4px;
    background-color: #FF927A;

    bottom: -20px;
    left: 50%;

    transform: translate(-50%);
  }