.AllSkillsWrap{
  margin: auto;
  margin-top: 60px;
  width: 1280px;
  height: 734px;

  background-color: #FFD597;
  border-radius : 35px 35px 0px 35px;
  

  
  padding-left: 150px;
  padding-top: 75px;

  position: relative;
}

  .AllSkillsWrap::after{
    position: absolute;
    content: "";
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 25px;
    top: 25px;
  }

.SkillCategoryWrap{
  width: 980px;
  height: 580px;


  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;

  row-gap: 35px;

  justify-items: center;
  align-items: flex-start;
}

.SkillCategory{
  width: 260px;
  background-color: white;
  border-radius: 25px;
}

.SkillCategoryName{
  width: 100%;
  height: 60px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
  .SkillCategoryName::after{
    position: absolute;
    content: "";
    width: 70%;
    height: 0;
    border-bottom: 1px dotted #BBBBBB;

    bottom: 0;
    left: 50%;

    transform: translate(-50%);
  }

.SkillWrap{
  padding: 35px 30px;
}
  .WebFrontend .SkillWrap, .Language .SkillWrap, .Library .SkillWrap, .Communication .SkillWrap, .VersionControl .SkillWrap{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 15px;
    column-gap: 45px;

    justify-content: center;
    align-items: center;
  }
  .WebFrontend .SkillWrap img , .Language .SkillWrap img, .Library .SkillWrap img, .Communication .SkillWrap img{
    width: 75px;
    height: auto;
  }

  .Tool .SkillWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .Tool .SkillWrap img{
    height: 50px;
    width: auto;
  }

  .VersionControl .SkillWrap img:nth-of-type(1){
    width: auto;
    height: 40px;
  }
  .VersionControl .SkillWrap img:nth-of-type(2){
    width: auto;
    height: 75px;
  }

.SkillCategoryName{
  font-weight: bold;
}