.PortfolioContentsWrap{
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.PortfolioLeftMonitorSection{
  margin-top: 50px;
  width: 55%;
  height: 100%;
  position: relative;
}
.PortFolioMonitorImage{
  z-index: 5;
  position: absolute;
  left: 20px;
  top: 50px;
  width: 900px;

  pointer-events: none;
}
.PortfolioPageImageWrap{
  margin: 85px 0px 0px 125px;
  
  width: 692px;
  height: 381px;

  /* overflow: hidden; */
  overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  position: relative;
}
  .PortfolioPageImageWrap::-webkit-scrollbar{ /* 크롬 */
    width: 0px;
  }
.PortfolioPageImageSlider{
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100%;
}
.PortfolioPageImage{
  width: 100%;
  height: 0px;
}
  .PortfolioPageImage:hover{
    /* animation-name: portfolioPageImageAnimation;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
  }
  @keyframes portfolioPageImageAnimation {
    0%{
      transform: translate(0%, 0%);
    }
    100%{
      transform: translate(0%, calc(-100% + 381px));
    }
  }
  .PortfolioPageImage.target{
    height: auto;
  }


.PortfolioRightTextSection{
  width: 45%;
  min-height: 750px;
}
.PortfolioProjectTextWrap{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.PortfolioProjectWrap{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  opacity: 0;
}
.PortfolioProjectWrap.target{
  opacity: 1;
}

.PortfolioProjectName{
  position: relative;
}
  .PortfolioProjectName::before{
    position: absolute;
    content: "";
    width: 120%;
    height: 100%;

    background-color: #FFDF70;

    top: 12px;
    left: 50%;
    transform: translate(-50%);

    z-index: -5;
  }

.PortfolioProjectExplanation, .portfolioFunctionText{
  white-space: pre-wrap;
}