.PortfolioContentsWrap{
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  flex-direction: row-reverse;
}
.PortfolioLeftMonitorSection{
  margin-top: 00px;
  width: 55%;
  height: 100%;
  position: relative;
}
.PortFolioMonitorImage{
  z-index: 5;
  position: absolute;
  left: -62px;
  top: 50px;
  width: 900px;

  pointer-events: none;

  /* right: 20px; */
}
.PortfolioPageImageWrap{
  margin: 85px 0px 0px 40px;
  
  width: 692px;
  height: 381px;

  /* overflow: hidden; */
  overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  position: relative;

}
  .PortfolioPageImageWrap::-webkit-scrollbar{ /* 크롬 */
    width: 0px;
  } 
  
  .PortfolioPageImageWrap::before{
    content: "";
    position: absolute;
    z-index: 9;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(black, transparent 50%);

    /* animation-name: PortfolioPageImageWrapBeforeAfterAnim;
    animation-duration: 5s;
    animation-fill-mode: forwards; */

    transition: 0.5s;
  }
  .PortfolioPageImageWrap::after{
    content : "마우스를 올려 스크롤 하세요";
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 20px;
    transform: translate(-50%);
    pointer-events: none;
    color: white;
    /* animation-name: PortfolioPageImageWrapBeforeAfterAnim;
    animation-duration: 5s;
    animation-fill-mode: forwards; */

    transition: 0.5s;
  }
  @keyframes PortfolioPageImageWrapBeforeAfterAnim {
    0%{
      opacity: 1;
    }
    70%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

  /* 그냥 호버시 사라지는거로 하자 */
  .PortfolioPageImageWrap:hover::before,.PortfolioPageImageWrap:hover::after{
    opacity: 0;
  }

.scrollGuideWrap{
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50px;
  transform: translate(-50%);

  opacity: 1;
  transition: 0.5s;
}
  .PortfolioPageImageWrap:hover .scrollGuideWrap{
    opacity: 0;
  }
.mouseFormDiv{
  width: 17px;
  height: 30px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;

  position: relative;
}
  .mouseFormDiv::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 6px;
    width: 5px;
    height: 5px;
    background-color: white;

    transform: translate(-45%);

    animation-name: wheelFormDivAnimation;
    animation-duration: 2.0s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }
@keyframes wheelFormDivAnimation {
  0%{
    transform: translate(-45%, 0%);
  }
  50%{
    transform: translate(-45%, 90%);
  }
  100%{
    transform: translate(-45%, 0%);
  }
}



.PortfolioPageImageSlider{
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100%;
}
.PortfolioPageImage{
  width: 100%;
  height: 0px;
}
  .PortfolioPageImage:hover{
    /* animation-name: portfolioPageImageAnimation;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
  }
  @keyframes portfolioPageImageAnimation {
    0%{
      transform: translate(0%, 0%);
    }
    100%{
      transform: translate(0%, calc(-100% + 381px));
    }
  }
  .PortfolioPageImage.target{
    height: auto;
  }


.PortfolioRightTextSection{
  width: 45%;
  min-height: 700px;
}
.PortfolioProjectTextWrap{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 700px;
}
.PortfolioProjectWrap{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  gap: 25px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* padding-left : 80px;
  padding-right: 20px; */
  display: none;

  padding-left : 60px;
  padding-right: 30px;
}
.PortfolioProjectWrap.target{
  display: flex;
}

.PortfolioProjectName{
  position: relative;
  align-self: center;
  /* margin-right: 100px; */
}
  .PortfolioProjectName::before{
    position: absolute;
    content: "";
    width: 120%;
    height: 100%;

    background-color: #FFDF70;

    top: 12px;
    left: 50%;
    transform: translate(-50%);

    z-index: -5;
  }
.PortfolioProjectExplanation>point3, .PortfolioProjectExplanation>point4{
  font-size: var(--p-size);
}
.PortfolioProjectExplanation, .portfolioFunctionText{
  white-space: pre-wrap;
}

.PortfolioProjectExplanation{
  margin-top: 45px;
  margin-bottom: 20px;
}
.portfolioHavePageWrap{

}
.portfolioHavePageWrap, .portfolioFunctionTextWrap, .portfolioTechTextWrap, .portfolioPeriodWrap, .portfolioNumberOfPeopleWrap{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.portfolioHavePageName, .portfolioFunctionName, .portfolioTechName, .portfolioPeriodName, .portfolioNumberOfPeopleName{
  font-weight: bold;
  display: inline-block;
  width: 14%;
}

.portfolioHavePageText, .portfolioFunctionText, .portfolioTechText, .portfolioPeriodText, .portfolioNumberOfPeopleText{
  display: inline-block;
  width: 86%;
}
.portfolioHavePageText>point3,.portfolioHavePageText>point4, .portfolioFunctionText>point3,.portfolioFunctionText>point4{
  font-size: var(--span-size);
}

.portfolioButtonWrap{
  position: absolute;
  padding: 0px 100px;
  width: 100%;
  bottom: 110px;
  left: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.goToSiteButton, .goToGitHubButton{
  background-color: black;
  width: 175px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
}
.goToSiteButton a, .goToGitHubButton a{
  font-size: var(--span-size);
  font-weight: bold;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  position: relative;
}
.goToSiteButton a::before, .goToGitHubButton a::before{
  position: absolute;
  font-size: var(--small-size);
  color: #CCC;
  width: 100%;
  text-align: center;
  font-weight: 100;
  left: 50%;
  top: -20px;

  transform: translate(-50%, 0%);
}
.goToSiteButton a::before{
  content: "go to page";
}
.goToGitHubButton a::before{
  content: "check github";
}

.goToSiteButton a img{
  width: 28px;
}

.pageButtonWrap{
  position: absolute;
  left: 150%;
  bottom:80px;
  transform: translate(-25%, -100%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;
}
.prevButton , .nextButton{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border-radius: 40px;
  width: 80px;
  height: 30px;
  border: 1px solid #399FFD;

  cursor: pointer;
}

.prevButtonText, .nextButtonText{
  font-size: var(--body-size);
}
.prevButton.page0{
  opacity: 0.5;
  border: 1px solid #BBB;
  pointer-events: none;
  cursor: default;
}
.nextButton.page3{
  opacity: 0.5;
  border: 1px solid #BBB;
  pointer-events: none;
  cursor: default;
}
